.featured{
    position: relative;

        @include for-tablet-landscape-up{
            text-align: left;
            display: grid;
            grid-template-columns: 40% auto;
            margin: 2em 0em -3em 0;
        }
    

    img{
        border-radius: 10px;
        width: 100%;

            @include for-tablet-landscape-up{
                width: 110%;
                margin: 1.5em 0 0 0;
            }

            @include for-desktop-up {
                width: 105%;
                margin: 3em 0 0em 2em;
            }
    }
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: -130px;
    //left: 140px;
    left: 50%;
    margin-left: -100px;
    z-index: -1;

            @include for-tablet-landscape-up{
                top: 90px;
                left: 4%;
            }

            @include for-desktop-up {
                top: 250px;
                left: 1%;
            }

    

    
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00ff;
    letter-spacing: .2em;
    font-size: .85em;
    text-shadow: 1.5px 1px 2.5px #ff64cb;

        @include for-desktop-up {
            margin-top: 8em
        }
}

.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;

}

.featured-desc{
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
    
        @include for-tablet-landscape-up{
            font-size: .7em;
        }

        @include for-desktop-up {
            font-size: .8em;
        }
}