
footer{
    background: #6e00ff;
    padding: 2em 1em 1em 4em ;
    position: relative;

        @include for-tablet-landscape-up{
            padding: 2em 8em 1em 8em;
        }
   

    p{
        color: white;
        font-size: .7em;

        @include for-desktop-up {
            display: flex;
            justify-content: center;
            margin-top: 2em;
        }
    }

            @include for-desktop-up {
                padding: 2em 3em 2em 5em ;
            }

    .logo img{
<<<<<<< HEAD
        display: none;
        width: 9%;

            @include for-desktop-up {
                display: block;
                width: 4%;
                margin: 1em 0 0 4em;
=======
        width: 9%;

            @include for-desktop-up {
                width: 4%;
                margin-left: 5em;
>>>>>>> fe508cf3448ac56b4a40a289bf37f776af738a96
            }
        
        
    }   
}

<<<<<<< HEAD
.social-footer{

        @include for-desktop-up {
            display: flex;
            justify-content: center;
            margin-top: -2.5em;
        }
    
    ul{
        display: flex;
        justify-content: space-between;
        width: 7em;
        
        img{
            width: 22px;
            @include for-desktop-up {
               width: 30px;
            }
            
        }
    }

}

=======
>>>>>>> fe508cf3448ac56b4a40a289bf37f776af738a96
.footer-design{
    display: unset;
    position: absolute;
    left: 65%;
<<<<<<< HEAD
    top: -25%;
    width: 30%;
    height: 100%;
=======
    top: -30%;
    width: 30%;
>>>>>>> fe508cf3448ac56b4a40a289bf37f776af738a96

        @include for-tablet-portrait-up {
            
                display: unset;
                position: absolute;
                left: 65%;
                top: -25%;
                width: 30%;
                
        }

        @include for-desktop-up {
<<<<<<< HEAD
            top: -20%;
            margin-left:4em;
=======
            top: -25%;
>>>>>>> fe508cf3448ac56b4a40a289bf37f776af738a96
        }
    
    
}
