.nav-container{
    background: #6700EE;
   

            .logo{
                width: 14%;
            }

                @include for-tablet-landscape-up{
                    display: grid;
                    grid-template-columns: 66% auto;
                    background: unset;

                        header{
                            background: #6700ee;
                        }

                        .logo{
                            width: 8%;
                        }
                }

                    @include for-desktop-up{
                        display: grid;
                        grid-template-columns: 66% auto;
                        background: unset;
                
                        header{
                            background: #6700ee;
                        }
                
                        .logo{
                            width: 6%;
                        }
                    }

        a{
            color: white;
            &:hover{
                color: aqua;
            }
        }

        .my-skills {
           display: none;
        }

        .contact{
            display: none;
        }
}
