.skills{
    background: #ff64cb;
        
        @include for-tablet-landscape-up {
            padding: 3em 8em;
        }

        @include for-desktop-up {
            margin-top: -4.5em;
        }

}

@include for-desktop-up {
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
}

.skills-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;


    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one{
            width: 50px;
        }

        &.two{
            width: 140px;
            
        }

        &.three{
            width: 60px;
        }
    }

    .skill-title{
        font-weight: bold;
        
    }

    .featured-desc{
        margin-bottom: 2em;
    }
    
}