@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

html{
scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    
}

img{
    width: 100%;
}

.nav-container{
    background: #6700EE;

    a{
        color: white;
        &:hover{
            color: aqua;
        }
    }
}


.modal-form{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 10;
    

    

    .modal{
        position: relative;
        background-color: whitesmoke;
        //width: 100px;
        //height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-radius: 1em;
        padding: 25px 50px;

            h3{
                font-weight: bold;
                padding-bottom: 15px;
            }

            label{
                font-size: 1em;
            }

            .input-field{
                margin-bottom: .5em;
                padding: 5px;

                &:focus{
                    outline-color: #6E00ff;
                }
            }

            .text-field{
                width: 100%;
                height: 100px;
                font-size: 1em;
                padding: 5px;
                &:focus{
                    outline-color: #6E00ff;
                }
            }
      
            .btn{
                background-color:  #6E00ff;
                color: white;
                padding: 8px 25px;
                border-radius: 999999999px;
                margin-top: 20px;
                font-size: 1em;
                border: 0;
                cursor: pointer;
                &:focus{
                    outline-color: #6E00ff;
                }
    }
}
}

.active{
    visibility: visible;
    opacity: 1;

}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        width: 8%;
        margin-top: 0.5em;
    }

        ul{
            display: flex;

            a{
                display: block;
                padding: 1em 1em;

            }
        }
}

.social-header , .hero-design{
    display: none;
}

.hero{
    background: #6e00ff;
    color: white;
    display: grid;
    text-align: center;
    padding: 5.7em;
}

.meet{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #ff64cb;
    a {
        color:  #ff64cb;
    }
    
}

.scroll{
    width: 30px;
    margin-top: 2em;
}

section{
    padding: 4em 2em;
    text-align: center;
}

.featured{
    position: relative;

    img{
        border-radius: 10px;
        width: 100%;
    }
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: -130px;
    //left: 140px;
    left: 50%;
    margin-left: -100px;
    z-index: -1;
    
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00ff;
    letter-spacing: .2em;
    font-size: .85em;
    text-shadow: 1.5px 1px 2.5px #ff64cb;
}

.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc{
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills{
    background: #ff64cb;

}

.skills-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    

    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one{
            width: 50px;
        }

        &.two{
            width: 140px;
            
        }

        &.three{
            width: 60px;
        }
    }

    .skill-title{
        font-weight: bold;
        
    }

    .featured-desc{
        margin-bottom: 2em;
    }
    
}

.portfolio{
    background: #f7f7f7;
}

.portfolio-container a img{
    margin: 3em 0em;
    border-radius: 20px;
}

footer{
    background: #6e00ff;
    padding: 2em 4em 3em 5em ;
    position: relative;
    //overflow: hidden;

    .logo img{
        width: 9%;
        
        
    }   
}

.footer-design{
    display: unset;
    position: absolute;
    left: 65%;
    top: -30%;
    width: 30%;
    
}



@media only screen and (min-width: 600px) {
    .featured::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #E5D5FA;
        top: -130px;
        //left: 190px;
        // left: 50%;
        margin-left: -50px;
        z-index: -1;
        
    }

    .footer-design{
        display: unset;
        position: absolute;
        left: 65%;
        top: -25%;
        width: 30%;
        
    }
}

@media only screen and (min-width: 800px) {
    .hero{
        height: 110vh;
        
    }

    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background: #6700ee;
        }

        .logo{
            width: 8%;
        }
    }

    header{
            padding: 2em 2em 2em 4em;
    }

    .social-header{
        padding: 3em 4em 2em 0;
    }

    section{
        padding: 4em;
    }

    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            img{
                width: 22px;
            }
        }
    }

    .featured::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #E5D5FA;
        top: 40px;
        left: -120px;
        z-index: -1;
        
    }


    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content{
            background: #6e00ff;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
        .meet{
            margin: unset;
        }

        .hero-design{
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }
    
    
    .featured, .portfolio{
        text-align: left;
    }
    
   
    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
        margin-top: 2em;
       
    }

    .left, .portfolio-left{
        display: grid;
        place-content: center;
    }

    .right{
        margin-left: 2em;
        margin-top:-1em;
    }

    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 5em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio{
        padding-top: 7em;
    }

    .portfolio-container img{
        margin-left: 2em;
        border-radius: 20px;
        
       
    }


    .footer-design{
        display: unset;
        position: absolute;
        left: 65%;
        top: -24%;
        width: 30%;
        
    }

    footer {
        .logo img{
            width: 7%;
            
            
        } 
    }



}

@media only screen and (min-width: 1050px) {
    .hero{
        height: 90vh;
        
    }

    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background: #6700ee;
        }

        .logo{
            width: 6%;
        }
    }

    header{
            padding: 2em 2em 2em 4em;
    }

    .social-header{
        padding: 2em 4em 2em 0;
    }

    section{
        padding: 4em;
    }

    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            img{
                width: 22px;
            }
        }
    }

    .featured::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #E5D5FA;
        top: 200px;
        left: -80px;
        z-index: -1;
        
    }

    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content{
            background: #6e00ff;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
        .meet{
            margin: unset;
        }

        .hero-design{
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }

        .portfolio img{
            float: right;
            max-width: 500px;
        }

        footer{
            padding: 2em 3em 2em 5em ;
        
            .logo img{
                width: 4%;
                margin-left: 5em;
                
                
            }   
        }
        
        .footer-design{
            display: unset;
            position: absolute;
            left: 65%;
            top: -25%;
            width: 30%;
            
        }
}

@media only screen and (min-width: 1250px) {

    header{
        padding: 2em 2em 2em 10em;
    }

    .social-header{
        padding: 3.5em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }

    .hero .content{
        padding: 6em 8em 6em 10em;
    }

}


@media only screen and (min-width: 1550px) {

    header{
        padding: 2em 2em 2em 20em;
    }

    .social-header{
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 6em 20em 4em 20em;
    }

    .hero .content{
        padding: 9em 20em 6em 20em;
    }

}


.circle{
    animation: circleAnim 1.5s infinite alternate-reverse;


}

@keyframes circleAnim {
    from {
        transform: translate(307px, 754px) ;
        z-index: 5;
    }

    to {
        transform: translate(307px, 800px) ;
        z-index: 5;
    }
}